<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @wish.title %>
</p>

<p>
  <b>Granted:</b>
  <%= @wish.granted %>
</p>

<p>
  <b>Category:</b>
  <%= @wish.category %>
</p>


<%= link_to 'Edit', edit_wish_path(@wish) %> |
<%= link_to 'Back', wishes_path %>
